@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-dark-gray: #222;
  --color-primary: #978661;
  --color-secondary: #b0b0b0;
}

body {
  background-color: #222;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  background-image: url("/images/banners/traditions-bg.png");
  background-repeat: repeat;
  background-position: bottom;
  z-index: 10;
}

.heading {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.home {
  background-image: url("/images/banners/traditions-bg.png");
  background-repeat: repeat;
}

.main-banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 230px;
}

.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-title {
  font-size: 50px;
  color: #978661;
}

.history {
  background-image: url("/images/history_background.png");
  background-repeat: repeat;
}

.ethnogenesis {
  background-image: url("/images/ethnicity_bg.png");
  background-repeat: repeat;
}

.nature_tourism {
  background-image: url("/images/nature_tourism-background.png");
  background-repeat: repeat;
}

.arrow {
  transform: rotateZ(-35deg);
}

.arrow-reverse {
  transform: rotateZ(35deg);
}

.react-simple-image-viewer__modal {
  z-index: 2;
}